<div class="vcw-receive-tokens-comp" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="0 1 60%">
    <div><br></div>
    <label>Address</label>
    <p class="vcw-wallet-address">
      {{ wallet.getAddressString() }}
    </p>
    <div><br></div>
    <button class="vcw-icon-button" (click)="copyAddress()">
      <img src="assets/images/icons/copy.svg" alt="">
    </button>
    <button class="vcw-icon-button">
      <img src="assets/images/icons/link.svg" alt="">
    </button>
    <button class="vcw-icon-button">
      <img src="assets/images/icons/share.svg" alt="">
    </button>
  </div>
</div>