
.vcw-receive-tokens-comp{

    text-align: center;
}

.vcw-receive-tokens-comp .vcw-wallet-address{

    font-weight: 300;
    margin: 1em auto;
    width: fit-content;
    padding: 1em;
    border: 1px dashed rgba(255,255,255, 0.5);
}

.vcw-receive-tokens-comp .vcw-icon-button{

    margin-right: 1em;
}

.vcw-receive-tokens-comp .vcw-icon-button:last-child{

    margin-right: 0;
}