<div class="vcw-send-tokens-comp" fxFlexFill fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="0 1 50%">
    <form class="vcw-send-token-form">
      <div>
        <input type="text" name="toAddress" placeholder="Enter receiver's address..." class="vcw-input" [(ngModel)]="toAddress">
      </div>
      <div><br></div>
      <div fxLayout="row">
        <div fxFlex="1 1 auto">
          <input type="number" name="amountToSend" placeholder="Enter amount to send..." class="vcw-input" [(ngModel)]="amountToSend">
        </div>
        <div>
          <select name="currency" class="vcw-input" style="color: #00a952; padding: 0;" [(ngModel)]="currency">
            <option value="frm">FRM</option>
            <option value="eth">ETH</option>
          </select>
        </div>
        
      </div>
      <div><br></div>
      <div>
        <button class="vcw-action-button vcw-button-bordered vcw-button-green" (click)="sendTokens()">Send</button>
      </div>
    </form>
  </div>
</div>