
.vcw-mount-wallet-comp{

    color: #ffffff;
}

.vcw-mount-wallet-comp form{

    text-align: center;
}

.vcw-mount-wallet-comp form .vcw-input{

    text-align: center;
}

.vcw-mount-wallet-comp .vcw-action-link{

    font-size: 0.8em;
    opacity: 0.3;
    margin-right: 2em;
}

.vcw-mount-wallet-comp .vcw-action-link:last-child{

    margin-right: 0;
}

.vcw-mount-wallet-comp .vcw-action-link:hover{

    opacity: 1;
}