<div class="vcw-mount-wallet-comp" fxFlexFill fxLayout="column" fxLayoutAlign="center">

    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="0 1 50%">
        <form *ngIf="usePrivateKey">
          <div>
            <input type="text" name="privateKey" placeholder="Enter private key..." class="vcw-input" [(ngModel)]="privateKey">
          </div>
          <div><br></div>
          <div>
            <button class="vcw-action-button vcw-button-bordered vcw-button-green" (click)="mountWallet(privateKey)">Unlock</button>
          </div>
        </form>

        <form *ngIf="!usePrivateKey">
          <div>
            <input type="password" name="password" placeholder="Enter wallet password..." class="vcw-input" [(ngModel)]="password">
          </div>
          <div><br></div>
          <div>
            <button class="vcw-action-button vcw-button-bordered vcw-button-green" (click)="mountWithPassword(password)">Unlock</button>
          </div>
        </form>
      </div>
    </div>

    <div><br><br><br></div>

    <div fxLayout="row" fxLayoutAlign="center">
      <a class="vcw-action-link" routerLink="/create">Generate New Wallet</a>
      <a class="vcw-action-link" *ngIf="usePrivateKey" (click)="usePrivateKey=false">Unlock With Password</a>
      <a class="vcw-action-link" *ngIf="!usePrivateKey" (click)="usePrivateKey=true">Unlock With Private Key</a>
    </div>
</div>