

.vcw-doc-root{

    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.vcw-side-panel{

    background-image: url('assets/images/bg-menu.jpg');
    padding-bottom: 1em;
}

.vcw-side-panel .vcw-logo{

    text-align: center;
    padding: 2em 0;
}

.vcw-side-panel .vcw-logo img{

    max-width: 60%;
}

.vcw-side-panel .vcw-menu-button{

    padding: 0.65em;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    outline: none;
}

.vcw-side-panel .vcw-menu-button img{

    vertical-align: bottom;
}

.vcw-side-panel .vcw-menu-button.vcw-active{

    background-color: #333333;
}

.vcw-content-panel{

    background-image: url('assets/images/bg-black.jpg');
}