<div class="vcw-doc-root" fxLayout="row">
  <!-- Side Panel -->
  <div class="vcw-side-panel" fxFlex="20%" fxLayout="column" fxLayoutAlign="center">
    <div>
      <div class="vcw-logo">
        <img src="assets/images/frc.png" alt="">
      </div>
    </div>
    <div fxFlex="auto">
      <div class="vcw-menu-button" *ngIf="sideBarSettings.wallet" routerLink="/wallet" routerLinkActive="vcw-active">
        <img src="assets/images/wallet.svg" style="width: 1.2em; margin-right: 1em;"> Wallet
      </div>
      <div class="vcw-menu-button" *ngIf="sideBarSettings.keys" routerLink="/keys" routerLinkActive="vcw-active">
        <img src="assets/images/wallet.svg" style="width: 1.2em; margin-right: 1em;"> Keys
      </div>
    </div>
    <div>
      <div class="vcw-menu-button" *ngIf="sideBarSettings.logout" (click)="unmountWallet()">
        <img src="assets/images/Logout.svg" style="width: 1.2em; margin-right: 1em;"> Logout
      </div>
      <div class="vcw-menu-button" *ngIf="sideBarSettings.back" (click)="unmountWallet()">
        Back
      </div>
    </div>
  </div>
  <!-- /Side Panel -->
  <div class="vcw-content-panel" fxFlex="80%" fxLayout="column">
    <router-outlet></router-outlet>
  </div>
</div>