<div class="vcw-wallet-details-comp">
  <div><br><br><br><br><br></div>

  <div fxLayout="column" fxLayoutAlign="center center">

    <div>
      Wallet Address

      <button class="vcw-icon-button" (click)="copyAddress()">
        <img src="assets/images/icons/copy.svg" alt="">
      </button>
    </div>
    <div style="font-weight: 300; opacity: 0.5;margin-top: 0.5em;">{{wallet.getAddressString()}}</div>
    <div><br><br></div>
    <div>
      Private Key

      <button class="vcw-icon-button" (click)="copyPrivateKey()">
        <img src="assets/images/icons/copy.svg" alt="">
      </button>
    </div>
    <div style="font-weight: 300; opacity: 0.5;margin-top: 0.5em;">{{wallet.getPrivateKeyString()}}</div>
  </div>
</div>