<div class="vcw-create-wallet-comp" fxFlexFill fxLayout="column" fxLayoutAlign="center">

  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="0 1 50%">
      <!-- <div class="vcw-card"> -->
        <!-- <div class="vcw-card-icon">
          <img src="assets/images/frc.png" alt="">
        </div>
        <div><br></div> -->
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="0 1 80%">
            <input type="password" placeholder="Choose password..." style="text-align: center;" class="vcw-input" [(ngModel)]="password">
          </div>
        </div>
        <div><br></div>
        <div style="text-align: center;">
          <button class="vcw-action-button vcw-button-green" (click)="generateWallet()">Generate New Wallet</button>
        </div>
        <div><br><br><br></div>
        <div fxLayout="row" fxLayoutAlign="center">
          <a class="vcw-action-link" routerLink="/mount">Unlock Wallet</a>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
