.vcw-create-wallet-comp{

    color: #ffffff;
}

.vcw-create-wallet-comp .vcw-card{

    background-image: url('assets/images/bg-menu.jpg');
    padding: 3em 1em 2em;
    text-align: center;
}

.vcw-create-wallet-comp .vcw-card .vcw-card-icon img{

    max-width: 22%;
}

.vcw-create-wallet-comp .vcw-action-link{

    font-size: 0.8em;
    opacity: 0.3;
    margin-right: 2em;
}

.vcw-create-wallet-comp .vcw-action-link:last-child{

    margin-right: 0;
}

.vcw-create-wallet-comp .vcw-action-link:hover{

    opacity: 1;
}