<div fxFlexFill fxLayout="column" style="background-image: url('assets/images/temp.jpg');background-size: 100% auto; background-repeat: no-repeat;">
  <!-- <div fxFlex>
    <div class="vcw-tabs">
      <div class="vcw-tab">ALL</div>
      <div class="vcw-tab">SENT</div>
      <div class="vcw-tab">RECEIVED</div>
      <div class="vcw-tab">EXCHANGED</div>
    </div>
  </div> -->
  <div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>