
.vcw-my-wallet-comp{

    color: #ffffff;
    position: relative;
}
.vcw-my-wallet-comp .vcw-header{

    text-align: center;
    padding: 4em 5px 2.5em;
}

.vcw-my-wallet-comp .vcw-header .vcw-balance{

    font-size: 4.5em;
    font-weight: 300;
    margin: 0;
}

.vcw-my-wallet-comp .vcw-header .vcw-unit{

    font-size: 0.5em;
}

.vcw-my-wallet-comp .vcw-header .vcw-balance-worth{

    font-size: 1.8em;
    font-weight: 300;
    margin: 0.4em;
}

.vcw-my-wallet-comp .vcw-header .vcw-actions{

    text-align: center;
    margin: 2em 0 0;
}

.vcw-my-wallet-comp .vcw-header .vcw-actions .vcw-action-button{

    margin-right: 1.8em;
}

.vcw-my-wallet-comp .vcw-header .vcw-actions .vcw-action-button:last-child{

    margin-right: 0;
}

.vcw-my-wallet-comp .vcw-tabs{

    background-color: #078797;
    color: #ffffff;
    text-align: center;
}

.vcw-my-wallet-comp .vcw-tabs .vcw-tab{

    display: inline-block;
    padding: 1em 2em;
    cursor: pointer;
}