
<div class="vcw-my-wallet-comp" fxFlexFill fxLayout="column">

  <div style="position: absolute; top: 1em; left: 1em;opacity: 0.5;">
    Eth: {{ wallet.getEthBalance() || '--' }}
  </div>
  <button class="vcw-icon-button" style="position: absolute; top: 1em;right: 1em;" (click)="refreshWallet()">
    <img src="assets/images/icons/refresh.svg" alt="">
  </button>
  <div class="vcw-header">

    <h1 class="vcw-balance">{{wallet.getBalance() | number}} <small class="vcw-unit">FRM</small></h1>
    <h4 class="vcw-balance-worth">
      ${{(wallet.getBalance()/2.5) | number}} USD
    </h4>
    <div class="vcw-actions">
      <button class="vcw-action-button vcw-button-green" routerLink="./send" routerLinkActive="vcw-button-bordered">SEND</button>
      <button class="vcw-action-button vcw-button-green" routerLink="./receive" routerLinkActive="vcw-button-bordered">RECEIVE</button>
      <button class="vcw-action-button vcw-button-green" routerLink="./history" routerLinkActive="vcw-button-bordered">HISTORY</button>
    </div>
  </div>
  <div fxFlex fxLayout="column">
    <router-outlet></router-outlet>
  </div>
</div>
