/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

app-mount-wallet,
app-my-wallet,
app-create-wallet{

    display: block;
    width: 100%;
    height: 100%;
}

.vcw-action-link, .vcw-action-link:focus, .vcw-action-link:visited{

    font-weight: 300;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.vcw-action-link:after{

    content: '';
    display: block;
    border-top: 1px solid #ffffff;
    width: 25%;
    margin: 0.1em auto 0;
    transition: all 0.2s;
}

.vcw-action-link:hover:after{

    width: 85%;
}

.vcw-action-button{

    font-size: 1em;
    line-height: 1;
    padding: 0.75em 2em;
    border-radius: 20em;
    border: 1px solid #ffffff;;
    background-color: #ffffff;
    color: #333333;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    outline: none;
    transition: all 0.2s;
}

.vcw-action-button.vcw-button-green{

    border-color: #00a952;
    background-color: #00a952;
    color: #ffffff;
}

.vcw-action-button.vcw-button-bordered{

    background-color: transparent;
    color: #333333;
    border: 1px solid #333333;
}

.vcw-action-button.vcw-button-bordered.vcw-button-green{

    border-color: #00a952;
    color: #00a952;
}

.vcw-action-button.vcw-button-bordered.vcw-button-green:hover{

    /* background-color: #00a952;
    color: #ffffff; */
}

.vcw-icon-button{

    background-color: transparent;
    color: #ffffff;
    width: 3em;
    height: 3em;
    line-height: 3em;
    border: 1px solid #ffffff;
    border-radius: 3em;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
    opacity: 0.75;
    transition: all 0.2s;
    outline: none;
}

.vcw-icon-button:hover{

    opacity: 1;
}

.vcw-icon-button img{

    width: 1.5em;
    margin-top: 0.6em;
}

.vcw-input{

    font-family: inherit;
    font-weight: 300;
    box-sizing: border-box;
    font-size: 1.1em;
    border: none;
    background: transparent;
    color: inherit;
    outline: none;
    height: 1.8em;
    padding: 0.5em;
    line-height: 2em;
    border-bottom: 1px solid #ffffff;
    margin: 0.5em 0;
    width: 100%;
}